body {
    background-color: gainsboro; 
    font-family: Montserrat;
    padding: 0; margin: 0;
}

.navbar-side {
    position: absolute;
    display: block;
    width: 150px;
    background-color: rgb(71, 71, 255);
    height: 100vh;
}

.navbar-top {
    display: none;
}

.nav-element {
    font-family: Montserrat;
    color: white;
    font-size: 1.4rem;

    padding: 10px 0px 10px 15px;

    transition: transform 0.5s ease-out;

    border-bottom: 2px solid gainsboro;
}

.nav-element-2-title {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    font-size: 1.8rem;
    margin-top: 15px;
}

.center {
    margin: auto;
    display: block;
}

.top-nav-element {
    border-top: 2px solid gainsboro;
}

.top-nav-element::before {
    height: 52px !important;
    transform:  translateX(-25px) translateY(-12px) !important;
}

.nav-element:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.nav-element::before {
    content: '';
    width: 10px;
    height: 50px;
    display: inline-block;
    position: absolute;
    background-color: gainsboro;

    transform: translateX(-25px) translateY(-10px);
}

@media (max-width: 500px) {
    .remove-mobile {
        display: none !important;
    }

}

@media (max-width: 1100px) {
    .navbar-side {
        display: none;
    }
    
    .navbar-top {
        position: absolute;
        display: block;
        width: 100vw;
        height: 70px;
        background-color: rgb(71, 71, 255);
        display: flex;
    }
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 6px;
}


   