/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
font:inherit;
display:inline-block;
overflow:visible;
margin:0;
padding:15px;
cursor:pointer;
transition-timing-function:linear;
transition-duration:.15s;
transition-property:opacity,filter;
text-transform:none;
color:inherit;
border:0;
background-color:transparent
}
.hamburger.is-active:hover,
.hamburger:hover {
opacity:.7
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
background-color:#fff
}
.hamburger-box {
position:relative;
display:inline-block;
width:40px;
height:24px
}
.hamburger-inner {
top:50%;
display:block;
margin-top:-2px
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
position:absolute;
width:40px;
height:4px;
transition-timing-function:ease;
transition-duration:.15s;
transition-property:transform;
border-radius:4px;
background-color:#fff
}
.hamburger-inner:after,
.hamburger-inner:before {
display:block;
content:""
}
.hamburger-inner:before {
top:-10px
}
.hamburger-inner:after {
bottom:-10px
}
.hamburger--spin .hamburger-inner {
transition-timing-function:cubic-bezier(.55,.055,.675,.19);
transition-duration:.22s
}
.hamburger--spin .hamburger-inner:before {
transition:top .1s ease-in .25s,opacity .1s ease-in
}
.hamburger--spin .hamburger-inner:after {
transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)
}
.hamburger--spin.is-active .hamburger-inner {
transition-delay:.12s;
transition-timing-function:cubic-bezier(.215,.61,.355,1);
transform:rotate(225deg)
}
.hamburger--spin.is-active .hamburger-inner:before {
top:0;
transition:top .1s ease-out,opacity .1s ease-out .12s;
opacity:0
}
.hamburger--spin.is-active .hamburger-inner:after {
bottom:0;
transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
transform:rotate(-90deg)
}
.hamburger--spin-r .hamburger-inner {
transition-timing-function:cubic-bezier(.55,.055,.675,.19);
transition-duration:.22s
}
.hamburger--spin-r .hamburger-inner:before {
transition:top .1s ease-in .25s,opacity .1s ease-in
}
.hamburger--spin-r .hamburger-inner:after {
transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)
}
.hamburger--spin-r.is-active .hamburger-inner {
transition-delay:.12s;
transition-timing-function:cubic-bezier(.215,.61,.355,1);
transform:rotate(-225deg)
}
.hamburger--spin-r.is-active .hamburger-inner:before {
top:0;
transition:top .1s ease-out,opacity .1s ease-out .12s;
opacity:0
}
.hamburger--spin-r.is-active .hamburger-inner:after {
bottom:0;
transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
transform:rotate(90deg)
}