body {
    background-color: gainsboro;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    color: white;
}

.navbar-side {
    position: fixed;
    display: block;
    width: 150px;
    background-color: rgba(0, 83, 214);
    height: 100vh;

    z-index: 1000;
}

.navbar-top {
    display: none;

    z-index: 1000;
}

.nav-element {
    font-family: Montserrat;
    color: white;
    font-size: 1.4rem;

    padding: 10px 0px 10px 15px;

    transition: transform 0.4s ease-out;

}

.dropdown_link {
    list-style: none;
    font-family: Montserrat;
    color: white;
    font-size: 1.4rem;
    display: block;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 30px;

    transition: transform 0.4s ease-out;
}

.dropdown_link:hover {
    transform: translateX(10px);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.underline {
    position: relative;
    color: rgba(0, 83, 214);
    text-decoration: none;
}
.underline:hover {
    color: rgb(62, 152, 255);
}
.underline:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(62, 152, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}


.dropdown_link::before {
    content: '';
    width: 10px;
    height: 42px;
    display: inline-block;
    position: absolute;
    background-color: gainsboro;

    transform: translateX(-40px) translateY(-8px);
}

#navbar-logo {
    width: 25px;
    margin: 10px 15px 10px 30px;
}

#navbar-logo:hover,
.nav-element-2-title:hover {
    cursor: pointer !important;
}

.nav-element-2-title {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    font-size: 1.8rem;
    margin-top: 16px;
}

.center {
    margin: auto;
    display: block;
}

.nav-element:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.nav-element::before {
    content: '';
    width: 10px;
    height: 100%;
    display: inline-block;
    position: absolute;
    background-color: gainsboro;

    transform: translateX(-25px) translateY(-10px);
}

@media (max-width: 500px) {
    .remove-mobile {
        display: none !important;
    }


}

.home-div {
    width: calc(100vw - 150px);
    padding-top: calc(30vh - 100px);
    margin-left: 150px;
}

.home-div-other {
    margin-left: 150px;
    width: calc(100vw - 150px);
}    

.home-div-2 {
    height: 400px;
    padding-top: 100px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.addcursor:hover {
    cursor: pointer;
}


a:active,
a:focus {
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
  outline-style: none !important;
}

.background-img {
    background: url(../img/background/home.jpg) no-repeat center center;
    position: fixed;
    background-size: cover;
    height: 100vh;
    width: calc(100vw - 120px);
    margin-left: 120px;
    z-index: -1;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 5rem;
    color: black;
    margin-bottom: 10vh;
}

.title-alt {
    display: none;
}

.subtitle {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    margin-bottom: 15px;
}

.home-div-other {
    height: 100vh;
    background-color:rgba(255,255,255, 0.3);
    margin-top: calc(70vh - 400px);
}

@media (max-width: 1100px) {
    .navbar-side {
        display: none;
    }

    .navbar-top {
        position: fixed;
        display: block;
        width: 100vw;
        height: 70px;
        background-color: rgba(0, 83, 214);
        display: flex;
    }

    .home-div {
        width: calc(100vw);
        margin-left: 0px !important;
    }

    .home-div-other {
        width: calc(100vw);
        margin-left: 0px !important;
    }

    .home-div-2 {
        margin-left: 5vw;
        margin-right: 5vw;
    }


    .title {
        display: none;
    }

    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .title-alt {
        margin: 0;
        text-align: center;
        font-size: 4rem;
        color: black;
        margin-bottom: 10vh;
        display: block;
    }

    .background-img {
        width: calc(100vw + 30px);
        margin-left: 0;
        margin-left: -30px;
    }

}

@media (max-width: 700px) {
    .title-alt {
        font-size: 3rem;
        margin-bottom: 5vh;
    }
    .subtitle {
        font-size: 1.2rem;
    }

    .home-div-2 {
        height: 300px;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-div-other {
        height: 100vh;
        background-color:rgba(255,255,255, 0.3);
        margin-top: calc(70vh - 250px);
    }
 
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 6px;
}


.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    display: none;
    background-color: rgb(0, 83, 214);
    margin: 0;

    padding: 10px 0 20px 0;
}

.dropdown_menu--animated {
    display: block;
}

.dropdown_menu-6 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown_menu-8 {
    animation: growUp 300ms ease-in-out forwards;
    transform-origin: top center;
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
        display: none;
    }
}













/* HAMBURGER */
/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
font:inherit;
display:inline-block;
overflow:visible;
margin:0;
padding:15px;
cursor:pointer;
transition-timing-function:linear;
transition-duration:.15s;
transition-property:opacity,filter;
text-transform:none;
color:inherit;
border:0;
background-color:transparent
}
.hamburger.is-active:hover,
.hamburger:hover {
opacity:.7
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
background-color:#fff
}
.hamburger-box {
position:relative;
display:inline-block;
width:40px;
height:24px
}
.hamburger-inner {
top:50%;
display:block;
margin-top:-2px
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
position:absolute;
width:40px;
height:4px;
transition-timing-function:ease;
transition-duration:.15s;
transition-property:transform;
border-radius:4px;
background-color:#fff
}
.hamburger-inner:after,
.hamburger-inner:before {
display:block;
content:""
}
.hamburger-inner:before {
top:-10px
}
.hamburger-inner:after {
bottom:-10px
}
.hamburger--spin .hamburger-inner {
transition-timing-function:cubic-bezier(.55,.055,.675,.19);
transition-duration:.22s
}
.hamburger--spin .hamburger-inner:before {
transition:top .1s ease-in .25s,opacity .1s ease-in
}
.hamburger--spin .hamburger-inner:after {
transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)
}
.hamburger--spin.is-active .hamburger-inner {
transition-delay:.12s;
transition-timing-function:cubic-bezier(.215,.61,.355,1);
transform:rotate(225deg)
}
.hamburger--spin.is-active .hamburger-inner:before {
top:0;
transition:top .1s ease-out,opacity .1s ease-out .12s;
opacity:0
}
.hamburger--spin.is-active .hamburger-inner:after {
bottom:0;
transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
transform:rotate(-90deg)
}
.hamburger--spin-r .hamburger-inner {
transition-timing-function:cubic-bezier(.55,.055,.675,.19);
transition-duration:.22s
}
.hamburger--spin-r .hamburger-inner:before {
transition:top .1s ease-in .25s,opacity .1s ease-in
}
.hamburger--spin-r .hamburger-inner:after {
transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)
}
.hamburger--spin-r.is-active .hamburger-inner {
transition-delay:.12s;
transition-timing-function:cubic-bezier(.215,.61,.355,1);
transform:rotate(-225deg)
}
.hamburger--spin-r.is-active .hamburger-inner:before {
top:0;
transition:top .1s ease-out,opacity .1s ease-out .12s;
opacity:0
}
.hamburger--spin-r.is-active .hamburger-inner:after {
bottom:0;
transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
transform:rotate(90deg)
}