body {
    background-color: gainsboro;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    color: white;
}

.navbar-side {
    position: fixed;
    display: block;
    width: 150px;
    background-color: rgba(0, 83, 214, 0.7);
    height: 100vh;

    z-index: 1000;
}

.navbar-top {
    display: none;

    z-index: 1000;
}

.nav-element {
    font-family: Montserrat;
    color: white;
    font-size: 1.4rem;

    padding: 10px 0px 10px 15px;

    transition: transform 0.4s ease-out;

}

.dropdown_link {
    list-style: none;
    font-family: Montserrat;
    color: white;
    font-size: 1.4rem;
    display: block;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 30px;

    transition: transform 0.4s ease-out;
}

.dropdown_link:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.dropdown_link::before {
    content: '';
    width: 10px;
    height: 42px;
    display: inline-block;
    position: absolute;
    background-color: gainsboro;

    transform: translateX(-40px) translateY(-8px);
}

.nav-element-2-title {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    font-size: 1.8rem;
    margin-top: 16px;
}

.center {
    margin: auto;
    display: block;
}

.nav-element:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.nav-element::before {
    content: '';
    width: 10px;
    height: 48px;
    display: inline-block;
    position: absolute;
    background-color: gainsboro;

    transform: translateX(-25px) translateY(-10px);
}

@media (max-width: 500px) {
    .remove-mobile {
        display: none !important;
    }

}

.home-div {
    width: calc(100vw - 150px);
    padding-top: 30vh;
    margin-left: 150px;
}

.home-div-2 {
    height: 70vh;
}



.background-img {
    background: url(../img/background/sky.jpg) no-repeat center center;
    position: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 6rem;
    color: black;
}

.home-div-other {
    height: 100vh;
    background-color:rgba(255,255,255, 0.3)
}

@media (max-width: 1100px) {
    .navbar-side {
        display: none;
    }

    .navbar-top {
        position: fixed;
        display: block;
        width: 100vw;
        height: 70px;
        background-color: rgba(0, 83, 214, 0.7);
        display: flex;
    }
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 6px;
}


.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    display: none;
    background-color: rgb(0, 83, 214);
    margin: 0;

    padding: 10px 0 20px 0;
}

.dropdown_menu--animated {
    display: block;
}

.dropdown_menu-6 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown_menu-8 {
    animation: growUp 300ms ease-in-out forwards;
    transform-origin: top center;
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
        display: none;
    }
}